body{
	font-family: Tahoma;
	color: black;
	font-size: 20px;
	margin: 0;
}

header{
	background-color: black;
	color: white;
}

header a{
	color: white;
	text-decoration: none;
}
.Header{
	padding: 1rem;
}

.nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

	.navigation ul li{
		display: inline-block;
	}

		.navigation ul li a{
			display: block;
			padding: 0.5rem 1rem;
		}

.main{
	margin: 2rem;
	text-align: justify;
}

img{
	display:block;
	margin:auto;
}

footer{
	background-color: black;
	color: white;
	text-align: right;
}